{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}NerdHoard{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <style>
      /* Custom Sidebar Styling */
      .sidebar {
        height: 100vh; /* Full screen height */
        background-color: #f8f9fa; /* Light gray background */
        padding: 1rem;
        position: fixed; /* Fixed on the left */
        width: 180px;
        margin-right: 2px;
      }
      .content {
        margin-left: 260px; /* Prevent content overlap with sidebar */
        padding: 2rem;
      }
    </style>
  </head>
  <body>
    <!-- Sidebar -->
    <div class="sidebar">
      <h4>Menu</h4>
      <ul class="nav flex-column">
        <h5>Books</h5>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_book' %}"> Add </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'search_book' %}"> Search </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'edit_book' 0 1 %}"> Edit </a>
        </li>
        <h6>Movies</h6>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_movie' %}"> Add </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'search_movie' %}"> Search </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'edit_movie' 0 1 %}"> Edit </a>
        </li>
        <h7>TV Shows</h7>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_tv' %}"> Add </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'search_tv' %}"> Search </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'edit_tv' 0 1 %}"> Edit </a>
        </li>
        <h8>Video Games</h8>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_videogame' %}"> Add </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'search_videogame' %}"> Search </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'edit_videogame' 0 1 %}"> Edit </a>
        </li>
        <!-- Add more links here -->
      </ul>
    </div>

    <!-- Main Content -->
    <main class="content">{% block content %} {% endblock %}</main>

    <!-- Bootstrap JS -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
